<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SearchId</key>
	<string>e9OogTpHRGGSo__BhPmv</string>
	<key>SearchSecret</key>
	<string>iHZ9gi8wsG</string>
	<key>NaverID</key>
	<string>ybkzrvowft</string>
</dict>
</plist>
